# WiiMote dependencies

# fetch the wiiuse source code
dist /dependencies/wiiuse/wiiuse.dist http://openengine.dk/code/dependencies/wiiuse/wiiuse.dist

darcs /extensions/WiiMote	http://openengine.dk/code/extensions/WiiMote

darcs-dev /extensions/WiiMote 	fh.daimi.au.dk:/users/cgd/code/extensions/WiiMote
