# WiiMote dependencies

# fetch the wiiuse source code
dist /dependencies/wiiuse/wiiuse.dist https://raw.githubusercontent.com/OpenEngineDK/dependencies-wiiuse/master/wiiuse.dist

darcs /extensions/WiiMote	http://openengine.dk/code/extensions/WiiMote

git-dev /extensions/WiiMote 	git@github.com:OpenEngineDK/extensions-WiiMote.git
